body {
    margin: 0px;
    background-color: ghostwhite;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
body header {
    border-bottom: 2px solid black;
    background-color: slateblue;
}
header a {
    color: ghostwhite;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
header a:hover {
    background-color: darkslateblue;
}
header #account {
    margin: 0px;
    padding: 0px;
    float: right;
}
#signup-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#signup-form {
    background-color: linen;
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
}
#form-error span {
    color: red;
}
.field {
    padding-bottom: 10px;
}
.field input {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.field input:focus {
    outline: none;
    background-color: rgb(236, 215, 255);

}
.field input::placeholder {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
#button-div {
    padding-top: 15px;
}
button {
    background-color: slateblue;
    color: ghostwhite;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    cursor: pointer;
}
button:hover {
    background-color: darkslateblue;
}
#signup-form .field .required {
    color: red;
    position: absolute;
}